@model FIT5032_project.Models.Flight

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.capability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.depature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.depature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.arrival)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arrival)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dpt_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dpt_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.arv_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arv_time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.flight_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
