@model IEnumerable<FIT5032_project.Models.Flight>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>

    <!--[if Roles ="Administrator"]>
    @Html.ActionLink("Create New", "Create")
    <![endif]-->

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.flight_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.flight_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.capability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.depature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.arrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dpt_time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.arv_time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.flight_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.flight_name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.capability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.depature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.arrival)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dpt_time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.arv_time)
            </td>
            <td>

                @Html.ActionLink("Edit", "Edit", new { id = item.flight_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.flight_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.flight_id }) |

                @Html.ActionLink("Select", "Create", "Bookings")
            </td>
        </tr>
        }
    </tbody>

</table>

@section Scripts {

    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")
    <script>
 $(document).ready(function () {
 $('.table').DataTable();
 });
    </script>
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
